body
{
  background-color: gray;

}
.contenedor
{
  border: 3px solid white;
  width: 70%;
  padding: 1em;
  margin: 0 auto;

}
.encabezado
{
  font-family: fantasy;
  text-align: center;
  color: black;
  text-transform: uppercase;
}
.parrafo
{
  font-family: impact;
  text-align:  left;
  color: yellow;
  text-
}
